.Form__container {
  width: 399px;

  .Form__name-container {
    width: 194px;
  }

  .Form__password {
    display: inline-block;
    width: 100%;
  }

  .Form__gender {
    .Form__gender-container {
      display: inline-block;
      padding: 5px 0 5px 4px;

      > label {
        color: $night-black;
        font-size: $font-m;
        font-weight: normal;
        line-height: 18px;
        padding: 0 10px 0 3px;
      }

      > label:first-child {
        margin-right: 4px;
      }
    }

    .Form__gender-custom {
      > select {
        width: 100%;
        margin: 4px 0;
        height: 30px;
        padding: 2px;
      }

      .sub-text {
        color: $dark-grey;
        font-size: 12px;
      }
    }
  }
}

.Form__termsAndConditions {
  .Form__termsAndConditions-text {
    font-size: 11px;
    width: 316px;
    color: $wolf-grey;
  }
}

.Form__submit-button-container {
  margin: 10px 0;

  button {
    padding: 7px 20px;
    min-width: 194px;
    line-height: 126%;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    font-size: 19px;
  }
}

