input {
  border-color: $light-grey;
  border-radius: 5px;
  border: 1px solid $silver;
}

input[type=text],
input[type=password] {
  outline: none;
  font-size: $font-m;
  padding: 8px 10px;
  box-sizing: border-box;
  width: 100%;
}
