body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $flight-white;
  color: $black;
  line-height: 1.34;
  font-size: $font-s;
}

.input-text {
  font-size: $font-m;
  padding: 8px 10px;
  box-sizing: border-box;
  width: 100%;
  border-color: $light-grey;
  border-radius: 5px;
  border: 1px solid $silver
}

label {
  vertical-align: middle;
  cursor: default;
}

.drop-down {
  border: 1px solid #ccd0d5;
}

.sub-heading {
  font-size: $font-m;
  color: $off-grey;
  font-weight: bold;
}

.mt-0 {
  margin-top: $space-zero;
}

.mt-m {
  margin-top: $space-m;
}

.mb-s {
  margin-bottom: $space-s;
}

.mb-m { 
  margin-bottom: $space-m;
}

.mr-s {
  margin-right: $space-s;
}

.my-s {
  margin: $space-s 0;
}

.d-flex {
  display: flex;
}

.d-flex.space-between {
  justify-content: space-between;
}

.drop-down {
  font-size: $font-s;
  padding: $space-xs;
}