// Colors
$black: #1c1e21;
$off-black: #333;
$off-white: #fff;
$light-grey: #bdc7d8;
$silver: #ccd0d5;

// Spacing
$space-zero: 0px;
$space-xs: 5px;
$space-s: 8px;
$space-m: 10px;
$space-l: 20px;

// Font
$font-m: 18px;
$font-l: 36px;