// Colors
$night-black: #1d2129;
$black: #1c1e21;
$off-black: #333;
$off-white: #fff;
$flight-white: #e9ebee;
$light-grey: #bdc7d8;
$dark-grey: #606770;
$off-grey: #90949c;
$silver: #ccd0d5;
$wolf-grey: #777;

// Spacing
$space-zero: 0px;
$space-xs: 5px;
$space-s: 8px;
$space-m: 10px;
$space-l: 20px;

// Font
$font-s: 13px;
$font-m: 18px;
$font-l: 36px;